<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="referrer" content="no-referrer">
  <title>大麦搜索</title>
  <link rel="stylesheet" href="./../css/public.css">
  <link rel="stylesheet" href="./../css/detail.css">
</head>
<body>
    <!-- header -->
    <div class="top">
        <img src="./../images/logo.png" alt="">
        <div class="top_2">
            <a href="./index.html" >首页</a>
            <a href="#" class="active">分类</a>
        </div>
        <div class="top_3">
            <div class="top_3t">
                <input type="text" placeholder="搜索明星、演出、体育赛事">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icondamai-sousuo"></use></svg>
                <div class="search">搜索</div>
            </div>
            
            <ul class="top_3b"></ul>
            
        </div>
        <div class="top_4">
            <img src="./../images/登录.png" alt=""><span class="off "><a class="off hide" href="./../views/login.html">登录</a></span>
            <span class="on hide"> </span>
            <img src="./../images/下载.png" alt=""><span>下载</span>
            <img src="./../images/EN.png" alt=""><span>English</span> 
        </div>
    </div>

    
    <!-- 主要内容 -->
    <div class="mian">
        <!-- 左边 -->
        <div class="main_left"></div>
        <!-- 右边 -->
        <div class="main_right">
            
            <div class="service">
            <p> <img src="./../images/y.png" alt="">不支持退</p> 
            <p>票品为有价证券，非普通商品，其背后承载的文化服务具有时效性，稀缺性等特征，不支持退换。</p>
        </div>
        <div class="service">
            <p><img src="./../images/y.png" alt="">实名制观演</p> 
            <p>本项目需实名制购票及入场，观演请本人携带购票时填写证件验证入场</p>
        </div>
        <div class="service">
            <p><img src="./../images/y.png" alt="">可选座</p> 
            <p>本项目支持自主选座
                <br>1. 选择演出时间，并点击“选座购票”进入选座页面
                <br>2. 选座后，在倒计时内支付成功，选座生效
                <br>（先付后选的项目需要先付款，到开放选座的日期我们会短信通知，请注意查收）</p>
            </div>
            <div class="service">
                <p><img src="./../images/y.png" alt="">快递票</p> 
                <p>快递票：纸质票会在开票后快递到您留下的收货地址，需您承担邮寄费用。注：离开演时间仅3天时，不再寄送快递票，支持在指定取票地点取票（具体以下单后票夹信息为准）</p>
            </div>
            <div class="service">
                <p><img src="./../images/y.png" alt="">纸质发票</p> 
                <p>该项目支持开具纸质发票，请您在演出开始前通过订单页补开，发票将在演出结束后1个月左右，统一由主办方提供</p>
            </div>
            
        </div>
    </div>
    
    <!-- 侧边栏 -->
    
    <div class="sub">
        <div class="sub_top">
            <p>大麦</p>
            <span>APP下载</span>
        </div>
        <div class="sub_bottom">
            <p><svg class="icon" aria-hidden="true"><use xlink:href="#iconhuidaodingbu"></use></svg></p> 
            <span>回到顶部</span>
        </div>
    </div>
    
    
    <!-- footer -->
    <div class="footer">
        <div class="footer_list">
            <ul>
                <li><a href="#">帮助中心</a> <span>|</span></li>
                <li><a href="#">公司介绍</a> <span>|</span></li>
                <li><a href="#">品牌识别</a> <span>|</span></li>
                <li><a href="#">公司大事记</a> <span>|</span></li>
                <li><a href="#">协议及隐私权政策</a> <span>|</span></li>
                <li><a href="#">廉政举报</a> <span>|</span></li>
                <li><a href="#">联系合作</a> <span>|</span></li>
            <li><a href="#">招聘信息</a> <span>|</span></li>
            <li><a href="#">防骗秘籍</a> </li>
        </ul>
        <div class="footer_main">
            <!-- right -->
            <div class="main_r">
                <a href="./index.html"><img src="./../images/logo1.png" alt=""></a>
                <p>
                    <img src="./../images/APP.jpg" alt="">
                    <span>App 下载</span>   
                </p>
            </div>
            <!-- left -->
            <div class="main_l">
                <div class="mian_service">在线客服</div>
                <ul class="main_t">
                    <li><a href="#">京ICP证031057号</a><span>|</span></li>
                    <li><a href="#">京ICP备11043884号</a><span>|</span></li>
                    <li><a href="#">京公网安备11010502037341号</a><span>|</span></li>
                    <li><a href="#">广播电视节目制作经营许可证(京)字第02253号</a></li>
                </ul>
                <ul class="main_t">
                    <li><a href="#">网络文化经营许可证京网文[2016]3438-413号</a><span>|</span></li>
                    <li><a href="#">营业性演出许可证京市演587号</a></li>
                </ul>
                <ul class="main_t">
                    <li><a href="#">北京红马传媒文化发展有限公司 版权所有</a></li>
                    <li><a href="#">大麦网</a></li>
                    <li><a href="#">2003-2018 All Rights Reserved</a></li>
                </ul>
                <ul class="main_t">
                    <li><a href="#">举报投诉邮箱：damai_tousu@member.alibaba.com</a></li>
                </ul>
                
                <div class="main_img">
                    <a href="#"><img src="./../images/1.gif" alt=""></a>
                    <a href="#"><img src="./../images/电子营业执照.png" alt=""></a>
                    <a href="#"><img src="./../images/pci.png" alt=""></a>
                    <a href="#"><img src="./../images/2.png" alt=""></a>
                    <a href="#"><img src="./../images/信.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./../assets/jquery/jquery.min.js"></script>
<script src="./../assets/font_2210019_l0jrqp1sz4l/iconfont.js"></script>
<script src="./../js/public.js"></script>
<script src="./../js/detail.js"></script>






</body>
</html>
