<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大麦网-全球演出赛事官方购票平台-100%正品、先付先抢、在线选座！</title>
    <script src="./../assets/font_2210019_l0jrqp1sz4l/iconfont.js"></script>
    <link rel="stylesheet" href="./../css/public.css">
    <link rel="stylesheet" href="./../css/index.css">
    <meta name="referrer" content="no-referrer">
</head>
<body>
    <div class="top">
        <img src="./../images/logo.png" alt="">
        <div class="top_1">
            <svg class="icon" aria-hidden="true"><use xlink:href="#iconlocation"></use></svg>
            <span>全国</span>
            <svg class="icon" aria-hidden="true"><use xlink:href="#iconbelow-s"></use></svg>
        </div>
        <div class="top_2">
            <a href="#" class="active">首页</a>
            <a href="./list.html">分类</a>
        </div>
        <div class="top_3">
            <div class="top_3t">
                <input type="text" placeholder="搜索明星、演出、体育赛事">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icondamai-sousuo"></use></svg>
                <div class="search">搜索</div>
            </div>

            <ul class="top_3b"></ul>
           
        </div>
        <div class="top_4">
            <img src="./../images/登录.png" alt=""><span class="off "><a class="off hide" href="./../views/login.html">登录</a></span>
            <span class="on hide"> </span>
            <img src="./../images/下载.png" alt=""><span>下载</span>
            <img src="./../images/EN.png" alt=""><span>English</span> 
        </div>
    </div>
<!-- banner -->
    <div class="banner">
        <ul class="img">
            <li><img src="./../images/lbt1.jpg" alt=""></li>
            <li><img src="./../images/lbt2.jpg" alt=""></li>
        </ul>
        <ol class="point"></ol>
        <div class="leftRight">
            <div class="left">&lt;</div>
            <div class="right">&gt;</div>
        </div>
    </div>



<!-- nav -->
<ul class="nav">
    <li><span>
        <svg class="icon" aria-hidden="true"><use xlink:href="#iconyinxiao_yanchanghui_"></use></svg>
    </span><a href="./list.html">演唱会</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconhuaju"></use></svg>
    </span><a href="./list.html">话剧歌剧</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icontiyu"></use></svg>
    </span><a href="./list.html">体育</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconertongqinzi28"></use></svg>
    </span><a href="./list.html">儿童亲子</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconzhanlanxiuxian28"></use></svg>
    </span><a href="./list.html">展览休闲</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconyinlehui28"></use></svg>
    </span><a href="./list.html">音乐会</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconquyuanzatan28"></use></svg>
    </span><a href="./list.html">曲苑杂坛</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconwudao"></use></svg>
    </span><a href="./list.html">舞蹈芭蕾</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconerciyuan"></use></svg>
    </span><a href="./list.html">二次元</a></li>
    <li><span>
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconlvyou"></use></svg>
    </span><a href="./list.html">旅游展览</a></li>
</ul>

<!-- main -->
<div class="main">
    <div class="main_content">
        <div class="main_head">
            <span>演唱会</span>
            <span class="more"><a href="./list.html"> 查看全部</a></span>
        </div>

        <div class="main_box">
            <div class="box_left box_left_1"></div>
            <div class="box_right box_righ_1"></div>
        </div>
    </div>
</div>

<div class="main">
    <div class="main_content">
        <div class="main_head">
            <span>话剧歌剧</span>
            <span class="more"><a href="./list.html"> 查看全部</a></span>
        </div>

        <div class="main_box">
            <div class="box_left box_left_2"></div>
            <div class="box_right box_righ_2"></div>
        </div>
    </div>
</div>

<div class="main">
    <div class="main_content">
        <div class="main_head">
            <span>体育比赛</span>
            <span class="more"><a href="./list.html"> 查看全部</a></span>
        </div>

        <div class="main_box">
            <div class="box_left box_left_3"></div>
            <div class="box_right box_righ_3"></div>
        </div>
    </div>
</div>

<div class="main">
    <div class="main_content">
        <div class="main_head">
            <span>儿童亲子</span>
            <span class="more"><a href="./list.html"> 查看全部</a></span>
        </div>

        <div class="main_box">
            <div class="box_left box_left_4"></div>
            <div class="box_right box_righ_4"></div>
        </div>
    </div>
</div>

<!-- 侧边 -->
<div class="sub">
    <div class="sub_top">
        <p>大麦</p>
        <span>APP下载</span>
    </div>
    <div class="sub_bottom">
       <p><svg class="icon" aria-hidden="true"><use xlink:href="#iconhuidaodingbu"></use></svg></p> 
        <span>回到顶部</span>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="footer_list">
        <ul>
            <li><a href="#">帮助中心</a> <span>|</span></li>
            <li><a href="#">公司介绍</a> <span>|</span></li>
            <li><a href="#">品牌识别</a> <span>|</span></li>
            <li><a href="#">公司大事记</a> <span>|</span></li>
            <li><a href="#">协议及隐私权政策</a> <span>|</span></li>
            <li><a href="#">廉政举报</a> <span>|</span></li>
            <li><a href="#">联系合作</a> <span>|</span></li>
            <li><a href="#">招聘信息</a> <span>|</span></li>
            <li><a href="#">防骗秘籍</a> </li>
        </ul>
        <div class="footer_main">
            <!-- right -->
            <div class="main_r">
                <a href="./index.html"><img src="./../images/logo1.png" alt=""></a>
                <p>
                    <img src="./../images/APP.jpg" alt="">
                    <span>App 下载</span>   
                </p>
            </div>
            <!-- left -->
            <div class="main_l">
                <div class="mian_service">在线客服</div>
                <ul class="main_t">
                    <li><a href="#">京ICP证031057号</a><span>|</span></li>
                    <li><a href="#">京ICP备11043884号</a><span>|</span></li>
                    <li><a href="#">京公网安备11010502037341号</a><span>|</span></li>
                    <li><a href="#">广播电视节目制作经营许可证(京)字第02253号</a></li>
                </ul>
                <ul class="main_t">
                    <li><a href="#">网络文化经营许可证京网文[2016]3438-413号</a><span>|</span></li>
                    <li><a href="#">营业性演出许可证京市演587号</a></li>
                </ul>
                <ul class="main_t">
                    <li><a href="#">北京红马传媒文化发展有限公司 版权所有</a></li>
                    <li><a href="#">大麦网</a></li>
                    <li><a href="#">2003-2018 All Rights Reserved</a></li>
                </ul>
                <ul class="main_t">
                    <li><a href="#">举报投诉邮箱：damai_tousu@member.alibaba.com</a></li>
                </ul>
              
                <div class="main_img">
                    <a href="#"><img src="./../images/1.gif" alt=""></a>
                    <a href="#"><img src="./../images/电子营业执照.png" alt=""></a>
                    <a href="#"><img src="./../images/pci.png" alt=""></a>
                    <a href="#"><img src="./../images/2.png" alt=""></a>
                    <a href="#"><img src="./../images/信.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- js 引入 -->
    <script src="./../assets/jquery/jquery.min.js"></script>>
    <script src="./../js/public.js"></script>
    <script src="./../js/index.js"></script>
    

    <script src="https://api-gw.damai.cn//search.html?cat=1&destCity=%E5%85%A8%E5%9B%BD&_ksTS=1610350571304_87&callback=bindHtml1"></script>
    <script src="https://api-gw.damai.cn//search.html?cat=3&destCity=%E5%85%A8%E5%9B%BD&_ksTS=1610350571306_101&callback=bindHtml2"></script>
    <script src="https://api-gw.damai.cn//search.html?cat=6&destCity=%E5%85%A8%E5%9B%BD&_ksTS=1610350571310_115&callback=bindHtml3"></script>
    <script src="https://api-gw.damai.cn//search.html?cat=100&destCity=%E5%85%A8%E5%9B%BD&_ksTS=1610350571312_129&callback=bindHtml4"></script>

</body>
</html>